.main-container {
    display: flex;
    flex-direction: column;
    flex: 10;
    background-color: black;
}

.dropdown-container {
    position: relative;
    width: 200px;
    height: 30px;
    cursor: pointer;
    color: black;

}

.sort-title {
    color: black;
    font-size: 30px;
    font-weight: 700;
}

.sort-container {
    padding-left: 10px;
    display: flex;
    height: 50px;
    width: fit-content;
    border: solid white 1px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
}

.selected {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    height: 30px;
}

.options {
    font-size: 1.5rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    display: none; /* Hidden by default */
    z-index: 10;
  }

  .options li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .options li:hover {
    background-color: #e0e0e0;
  }
  
  /* Show the dropdown when the container is active */
  .dropdown-container.active .options {
    display: block;
  }

.loading {
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: white;
}

.section-one {
    color: white;
    margin: 2em 2em 0em 2em;
}

.sort-label {
    font-size: 1.5rem;
    margin-right: 0.2em;
    font-weight: 700;
}

.sort {
    background-color: white;
    color: black;
    width: fit-content;
    padding: 0.75em 1.25em;
    border-radius: 20px;
}

select {
    border: none;
    background-color: white;
    font-size: 16px;
    -webkit-appearance: none; /* Remove default styling in WebKit browsers */
    -moz-appearance: none; /* Remove default styling in Firefox */
    appearance: none; /* Remove default styling in other browsers */
}

.filter-title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0.5em;
}

option {
    font-size: 16px;
}


.section-two {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    margin: 2em 2em 2em 2em ;
    overflow-y: scroll;
    scrollbar-width: none;
    position: relative;

}

.game-card {
    margin: 0;
    padding: 0;
    border: none;
    transition: transform 0.3s ease-in-out;
}

.game-card:hover {
    transform: scale(1.05);
}

.game-img {
    border-radius: 18px 18px 0 0;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: top;
    display: block;
}

.cart-price-container {
    display: flex;
    justify-content: space-between;
}

.platforms-supported-container {
    display: flex;
    gap: 0.5em;
}

.game-title {
    font-size: 20px;
}

.platform-icon {
    font-size: 10px;
}

.game-info {
    padding: 1em;
    gap: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(37, 37, 37);
    border-radius: 0px 0px 20px 20px;
}

.clicked-game-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.clicked-game-content {
    background-color: white;
    padding: 0 ;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;

}

.clicked-game-image {
    object-fit: cover;
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 8px 0px 0px 8px;
}

.close-clicked-game {
    position: absolute;
    right: 2em;
    font-size: 26px;
}

.clicked-game-info {
    position: relative;
    width: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    background-color: black;
    color: white;
}

.clicked-game-name {
    margin-top: 50px;
    font-size: 2em;
    margin-right: 1rem;
    text-align: center;
}

.about-title {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

.loading-about {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.clicked-about-container {
    height: 40%;
}

.game-facts {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.about {
    font-size: 1em;
    height: 70%;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 10px;
}

.carousel-button {
    position: absolute;
    color: rgb(0, 0, 0);
    top: 45%;
    font-size: 100px;
    background: transparent;
    border: none;
    z-index: 10;
    transition: color 0.3s ease;
}

.carousel-button:hover {
    color: white;
}

.carousel {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide {
    min-width: 100%;
    height: 100%;
    position: relative;
    flex: 0 0 auto;
    display: none;
}

.carousel-slides {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.next {
    right: 1rem;
}

.prev {
    left: 1rem;
}

.active { 
    display: block;
}

.clicked-game-button, .clicked-added-to-cart {
    margin-bottom: 40px;
    display: block;
    width: 100%;
    padding: 10px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

.clicked-added-to-cart {
    background-color: green;
    color: white;
}

.clicked-game-button {
    background-color: white;
}

.added-to-cart {
    box-sizing: border-box;
    display: flex; 
    align-items: center; 
    background-color: green;
    color: white;
    padding: 2px 6px 2px 6px; 
    border: none; 
    border-radius: 5px;
    font-size: 16px; 
    cursor: pointer;
    transition: transform 0.3s ease;
}
@media (max-width: 1600px) {
    .section-one {
        align-self: center;
    }

    .clicked-game-button {
        margin: 0;
    }

    .clicked-game-name {
        font-size: 1.5em;
    }

    .close-clicked-game {
        font-size: 1em;
    }

    .about-title {
        font-size: 1.5em;
        margin-top: 10px;
    }

    .about {
        font-size: 1em;
        height: 70%;
    }

    .clicked-about-container {
        height: 40%;
    }

    .game-facts {
        font-size: 1em;
    }
    .section-two {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1300px) {

    .section-two {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {

    .section-two {
        grid-template-columns: repeat(1, 1fr);
    }
}