.sidebar-container {
    overflow-y: scroll;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: black;
    padding: 30px;
    color: white;
    gap: 1em;
    scrollbar-width: none;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.top-games-title, .platforms-title, .genres-title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 0.5em;
    text-align: center;
}

.top-games-filter, .platforms-filter, .genres-filter {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 20px;
}

.filter-type {
    transition: transform 0.3s ease;
}

.filter-type:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: #f39c12;
}

hr {
    width: 80%;
}

.current-filter {
    transform: scale(1.2);
    color: #f39c12;
}

@media (max-width: 1440px) {

    .top-games-title, .platforms-title, .genres-title {
        font-size: 1.5rem;
    }

    .filter-type {
        font-size: 1rem;
    }
}

@media (max-width: 1000px) {
    .sidebar-container {
        padding: 15px;
    }
    

}

