.main-container {
    display: flex;
    flex-direction: column;
    flex: 10;
    background-color: black;
}

.loading {
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: white;
}

.section-one {
    color: white;
    margin: 2em 2em 0em 2em;
}

.sort-label {
    font-size: 18px;
    margin-right: 0.2em;
}

.sort {
    background-color: white;
    color: black;
    width: fit-content;
    padding: 1em 2em 1em 2em;
    border-radius: 20px;
}

select {
    border: none;
    background-color: white;
    font-size: 16px;
    -webkit-appearance: none; /* Remove default styling in WebKit browsers */
    -moz-appearance: none; /* Remove default styling in Firefox */
    appearance: none; /* Remove default styling in other browsers */
}

.filter-title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0.5em;
}

option {
    font-size: 16px;
}


.section-two {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    margin: 2em 2em 2em 2em ;
    overflow-y: scroll;
    position: relative;

}

.game-card {
    border-radius: 20px 20px;
    background-color: white;
}

.game-img {
    border-radius: 18px 18px 0 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cart-price-container {
    display: flex;
    justify-content: space-between;
}

.platforms-supported-container {
    display: flex;
    gap: 0.5em;
}

.game-title {
    font-size: 20px;
}

.platform-icon {
    font-size: 10px;
}

.game-info {
    padding: 0.5em;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.clicked-game-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked-game-content {
    background-color: white;
    padding: 0 ;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    display: flex;
}

.clicked-game-image {
    display: flex;
    height: 100%;
    width: 80%;
    border-radius: 8px 0px 0px 8px;
}

.close-clicked-game {
    position: absolute;
    right: 1em;

}

.clicked-game-info {
    position: relative;
    width: 100%;
    padding: 1em;
}
